<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="description" content="{{ site.description }}" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  {% if page.jsarr %}
  <script src="https://raw.githubusercontent.com/impress/impress.js/master/js/impress.js"></script>
  <script>
    impress().init();
  </script>
  {% endif %} {% seo %}
  <link id="favicon" rel="icon" type="image/png" href="favicon_light.ico" />
  <script>
    // Function to update favicon based on theme
    function updateFavicon() {
      const favicon = document.getElementById("favicon");
      const isDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      favicon.href = isDarkMode ? "favicon_dark.ico" : "favicon_light.ico";
      console.log("Favicon updated to: " + favicon.href);
    }

    // Initial favicon update
    updateFavicon();
    console.log("Favicon updated based on theme");

    // Listen for changes in the color scheme
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", updateFavicon);
  </script>
</head>
